.start h1 {
  font-size: 2.5em;
}

.start h2 {
  font-size: 2em;
}

.start h3 {
  font-size: 1.6em;
}

.start h2 i,
h3 i {
  color: #606060;
}

.start .sub-system {
  padding: 0px 2em;
}

.start .sub-system .installation {
  padding: 0px 2em;
  width: 80%;
}

.start .installation {
  padding: 2px 4em;
  width: 80%;
}

.start .installation p {
  font-size: 1.3em;
  font-weight: 300;
}

.start .installation li {
  font-size: 1.1em;
  font-weight: 300;
}

.start .installation a {
  text-decoration: none;
  color: dodgerblue;
}
