html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #d0d0d0;
  background-color: #222629;
  border-radius: 3px;
  word-wrap: normal;
  border-radius: 0.5em;
}

pre .function {
  color: #f08d49;
}

pre .string {
  color: #7ec699;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

header {
  margin: 0 2em 0 0;
}

.img-circle {
  border-radius: 50%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

section.page {
  width: 100%;
  height: auto;
  border-top: 1px solid #aaa;
  display: inline-block;
  padding-bottom: 2em;
}

section.page hr {
  margin: 1em 0 1em 0;
}

.container {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.container header a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px #80808080;
  cursor: text;
}

.container header a i {
  color: #606060;
}

/** Footer */

footer {
  text-align: center;
  background-color: #eee;
  padding: 1em;
}

footer .contacts {
  list-style: none;
  cursor: default;
  margin-block-start: 0;
  padding-inline-start: 0;
}

footer .contacts li {
  display: inline-block;
}

footer .contacts a {
  border: 0;
  font-size: 3em;
  color: #606060;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
}

footer .contacts a i {
  transition: all 0.4s ease-in;
}

footer .contacts li a:hover i {
  color: dodgerblue !important;
}

footer p.copyright {
  color: #404040;
  font-weight: 300;
  text-align: center;
}

.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
}

.alert-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-primary {
  background-color: #cce5ff;
  border-color: #b8daff;
  color: #004085;
}

/* ko-fi */
.floatingchat-container-wrap {
  left: auto !important;
  right: 16px !important;
}

.floating-chat-kofi-popup-iframe {
  left: auto !important;
  right: 16px !important;
}
