.updates h1 {
  font-size: 2.5em;
}

.updates h2 {
  font-size: 2em;
}

.updates h3 {
  font-size: 1.6em;
}

.updates h2 i,
h3 i {
  color: #606060;
}

.updates .desc {
  font-size: 1.1em;
  text-align: justify;
}

.updates ol {
  font-size: 1.2em;
}

.wall-of-text {
  color: #444;
  line-height: 1.8em;
  margin: 0 auto;
  text-align: justify;
  width: 90%;
}

.tl-dr {
  font-size: 1.2em;
  font-weight: bold;
}
