---
import "../styles/theme.css";
---
<html lang="en" data-theme="frappe">
  <head><meta charset="utf-8" /><title>termscp</title></head>
  <body class="bg-base text-text font-mono p-8">
    <h1 class="text-green text-2xl">termscp<span class="blink"></span></h1>
  </body>
</html>
