<!DOCTYPE html>
<div class="flex flex-col bg-brand text-gray-200 justify-around items-center gap-12 p-8 sm:pb-24">
  <div class="flex flex-row justify-around items-center gap-16 w-3/6 sm:w-full">
    <div>
      <a href="https://github.com/veeso/termscp" class="text-3xl sm:text-xl no-underline" target="_blank"><i
          class="devicon-github-original"></i></a>
    </div>
    <div>
      <a href="https://crates.io/crates/termscp" class="text-3xl sm:text-xl no-underline" target="_blank"><i
          class="devicon-rust-plain"></i></a>
    </div>
    <div>
      <a href="https://community.chocolatey.org/packages/termscp" class="text-3xl sm:text-xl no-underline"
        target="_blank"><i class="devicon-windows8-plain"></i></a>
    </div>
    <div>
      <a href="https://ko-fi.com/veeso" target="_blank" class="text-3xl sm:text-xl no-underline"><i
          class="fa fa-coffee"></i></a>
    </div>
  </div>
  <div class="flex flex-col justify-around gap-1 items-center w-full">
    <!-- vat number -->
    <p class="text-sm font-thin">
      <span>P.IVA IT03104140300 </span>
    </p>
    <p class="text-xs font-thin">
      <span>Via Antonio Marangoni 33, 33100, Udine (UD)</span>
    </p>
    <!-- Copyright -->
    <p class="text-xs font-thin">
      <span>Christian Visintin © </span><span resolve-copyright></span>
      <span>&nbsp;|&nbsp;</span>
      <a class="text-xs font-thin" href="https://veeso.dev/en/privacy" target="_blank">Privacy policy</a>
      <span>&nbsp;|&nbsp;</span>
      <a class="text-xs font-thin" href="https://veeso.dev/en/cookie-policy" target="_blank">Cookie policy</a>
    </p>
  </div>
</div>