name: MacOS

on:
  push:
    branches: [ * ]
  pull_request:
    branches: [ * ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    
    runs-on: macos-10.14

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
